%body
	%form{:action => '/leads', :method => 'POST'}
		Killer Email Signup Form
		%br
		%input{:type => 'name', :name => 'name', :placeholder => 'Enter your name here'}
		%br
		%input{:type => 'email', :name => 'email', :placeholder => 'Enter your email here'}
		%br
		%input{:type => 'submit', :value=>'GO'}